.card {
    background-color: #557B83;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 25.5rem;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 1080px) {
    .card {
        width: 90%;
    }
}