.list-group-item {
  display: flex;
  align-items: center;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.item-text {
  font-size: 1.1em;
  margin: 0 0 0 1em;
  display: inline-block;
  width: 80%;
}

.item-delete-icon {
    margin-left: auto;
    font-size: 1.2em;
}

.item-delete-icon:hover {
    color: red;
}

.todo-completed {
    text-decoration: line-through;
}