.list-group-item {
  display: flex;
  align-items: center;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.item-text {
  font-size: 1.2em;
  margin: 0 0 0 1em;
}

.item-delete-icon {
    margin-left: auto;
    font-size: 1.2em;
}

.item-delete-icon:hover {
    color: red;
}